<!DOCTYPE html>
<html>
<head> 
    <title>Project Info</title>
</head>
<body>
    <h1>Project: {{title}}</h1>
    <h2>Description: {{description}}</h2>
    <h2>Total Points: {{max_grade}}</h2>
    <div>
        {% if students %}
            <table>
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Points</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td><a href="{{url_for('get_student')}}?github=">{{student[0]}} {{student[1]}}</a></td>
                        <td>{{student[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}                            
    </div>
</body>
</html>